<!DOCTYPE html>
<html>
<head>
    <!-- for HTML5 -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CRM TASC{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/jquery-ui/themes/base/jquery-ui.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12" style="height: 200px"></div>
        <div class="col-xs-8 col-xs-offset-2">
            <h1>Error:</h1>
            <h1>La Base De Datos Parece Caida</h1>
        </div>
    </div>
</div>

</body>
</html>




