<!DOCTYPE html>
<html>
<head>
    <!-- for HTML5 -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CRM TASC{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/jquery-ui/themes/base/jquery-ui.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {#<a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('images/logo.gif') }}" height=40 width=90></a>#}
                <a class="navbar-brand" href=""><img src="{{ asset('images/logo.gif') }}" height=40 width=90></a>

            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            Clientes <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('clientes') }}">Lista de Clientes</a></li>
                            <li><a href="#">Futuros Clientes</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            Presupuestos <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('nuevo_presupuesto') }}">Nuevo</a></li>
                            <li><a href="#">Buscar</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('acme_demo_pdf') }}">Pdf</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_USER') %}
                    <li>
                        <a href="#">{{ app.user.nombre }}</a>
                    </li>
                    <li>
                        <a href="{{ path('security_logout') }}">Logout</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>

    <div class="main-content">
        {% for msg in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ msg }}
            </div>
        {% endfor %}

        {% block body %}
        {% endblock %}
    </div>

    {% block javascripts %}
        <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/functions.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        <script src="{{ asset('vendor/jquery-ui/jquery-ui.min.js') }}"></script>
        <script >
            $(document).ready(function(){
                $('#loginModalTrigger').click(function() {
                    $('#loginModal').modal();
                });
            });
        </script>

    {% endblock %}
</body>
</html>
