<div id="articulosModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document" style="width: 80%">
        <!-- Modal Content-->
        <div class="modal-content">
            <div class="modal-header">

                <div class="pull-left">
                    <h4 class="modal-title">Articulos</h4>
                </div>
                <div class="form-group col-md-3 col-md-offset-2">
                    <label for="familia_selector">Familia</label>
                    <select class="form-control" id="familia_selector">
                        {#<option value="" disabled selected>Familia</option>#}
                        <option value="">All</option>
                        {% for familia in familias %}
                            <option value="{{ familia.codigo }}">{{ familia.nombre|trim|convert_encoding('UTF-8', 'iso-8859-1') }}</option>
                        {% endfor %}

                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="marca_selector">Marca</label>
                    <select class="form-control" id="marca_selector">
                        {#<option value="" disabled selected>Marca</option>#}
                        <option value="">All</option>
                        {% for marca in marcas %}
                            <option value="{{ marca.codigo }}">{{ marca.nombre|trim|convert_encoding('UTF-8', 'iso-8859-1') }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row" style="color: white; background: black; font-size: 1.2em">
                        <div class="col-md-2">Código</div>
                        <div class="col-md-2">Familia</div>
                        <div class="col-md-2">Marca</div>
                        <div class="col-md-5">Nombre</div>
                        <div class="col-md-1">PVP</div>
                    </div>
                    {% for articulo in articulos %}
                        <div class="row article_row" data-codigo="{{ articulo.codigo|trim|url_encode }}">
                            <div class="col-md-2">{{ articulo.codigo|trim }}</div>
                            <div class="col-md-2 familia_column">{{ articulo.familia }}</div>
                            <div class="col-md-2 marca_column">{{ articulo.marca }}</div>
                            <div class="col-md-5">{{ articulo.nombre|trim|convert_encoding('UTF-8', 'iso-8859-1') }}</div>
                            <div class="col-md-1" style="text-align: right">{{ articulo.pvp.pvp|trim|number_format(2, '.', '') }}</div>
                        </div>
                    {% endfor %}
                </div>
                {#<span class="loading" style="display: none">#}
                    {#<i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i>#}
                    {#<span class="sr-only">Loading...</span>#}
                {#</span>#}
            </div>
        </div>
    </div>
</div>