{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block body %}
    <div>
        <div class="row">
            <div class="col-md-12 prespuesto_container" >
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% include 'presupuestos/header_bar_presupuestos.html.twig' with {'presupuesto': presupuesto} %}
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="col-md-12" style="padding: 20px">
                                <div class="col-md-4">
                                    {% include 'presupuestos/presupuesto_datos_cliente.html.twig' with {'presupuesto': presupuesto, 'select_client_enable': false} %}
                                </div>
                                <div class="col-md-3 col-md-offset-1">
                                    {% include 'presupuestos/presupuesto_datos_importes.html.twig' %}
                                </div>
                                <div class="col-md-3 col-md-offset-1">
                                    {% include 'presupuestos/presupuesto_datos_numeros.html.twig'
                                        with {
                                            'numero_presupuesto': numero_presupuesto,
                                            'presupuesto': presupuesto
                                        }
                                    %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% include 'presupuestos/presupuesto_acciones_left.html.twig' %}

                {% include 'presupuestos/presupuesto_acciones_right.html.twig'
                    with {
                        'save_enable': true,
                        'clon_enable': false,
                        'mod_enable': false,
                        'print_enable': false
                    }
                %}

                <div class="col-md-12 table_container" >
                    <table class="table table-bordered table-hover thead-inverse prespuesto_table">
                        <thead>
                            <tr>
                                <th>Artículo</th>
                                <th>Definición</th>
                                <th>Precio</th>
                                <th>Unidades</th>
                                {#<th>IVA</th>#}
                                <th>%</th>
                                <th>Importe</th>
                            </tr>
                        </thead>
                        <tbody class="table-striped">
                        {% for linea in detalles_presupuesto %}
                            {% set is_linea_articulo = false %}
                            {% if linea.articulo|trim != '' %}
                                {% set is_linea_articulo = true %}
                            {% endif %}

                                {% if linea.articulo|trim != '' %}
                                    <tr class="presupuesto_row table_row_head" onclick="toggleTableRowActive(this)">
                                        <td><div class="input_row_articulo">{{ linea.articulo|trim }}</div></td>
                                        <td><div class="input_row_definicion"><input type="text" value="{{ linea.definicion|trim }}" maxlength="75"></div></td>
                                        <td>
                                            <div class="input_row_precio"><input type="text" value="{{ linea.precio|trim|number_format(2, '.', '') }}"></div>
                                            <div class="input_row_coste" hidden><input type="text" value="{{ linea.coste|trim|number_format(2, '.', '') }}"></div>
                                        </td>
                                        <td><div class="input_row_unidades"><input type="text" value="{{ linea.unidades|trim|number_format(2, '.', '') }}" ></div></td>
                                        {#<td><div class="input_row_iva"><input type="text" value="{{ linea.tipoiva|trim }}" ></div></td>#}
                                        <td><div class="input_row_dto"><input type="text" value="{{ linea.dto1|trim }}" ></div></td>
                                        <td><div class="input_row_importe">{{ linea.importe|trim|number_format(2, '.', '') }}</div></td>
                                {% else %}
                                    <tr class="presupuesto_row table_row_body" onclick="toggleTableRowActive(this)">
                                        <td></td>
                                        <td><div class="input_row_definicion"><input type="text" value="{{ linea.definicion|trim }}" maxlength="75"></div></td>
                                        <td></td>
                                        <td></td>
                                        {#<td></td>#}
                                        <td></td>
                                        <td></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include 'articulos/articulos_modal.html.twig' with {'articulos': articulos} %}


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function selectCliente (codigo) {
            console.log(codigo);
        }


    </script>
{% endblock %}