{% extends 'base-pdf.html.twig' %}

{% set cliente = cliente %}
{% set presupuesto = presupuesto %}

{% block tbody %}
    <tbody>
        {#{% for i in 1..56 %}#}
        {#{% for i in 1..10 %}#}
        {% for row in page_body %}
            <tr>
                <td class="presupuesto_table_body_item">1</td>
                <td class="presupuesto_table_body_codigo">{{ row.articulo }}</td>
                <td class="presupuesto_table_body_cantidad">{{ row.unidades }}</td>
                <td class="presupuesto_table_body_descripcion">{{ row.definicion }}</td>
                <td class="presupuesto_table_body_precio">{{ row.precioiva }}</td>
                <td class="presupuesto_table_body_importe">{{ row.importeiva }}</td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}