{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block body %}
    <div class="">
        <div class="row">
            <div class="col-md-12 prespuesto_container" >
                <div class="col-md-3 prespuesto_datos">
                    <div class="col-md-12 prespuesto_datos_numeros">
                        <fieldset>
                            <legend>Prespuesto</legend>
                            <div class="col-md-3">Número</div>
                            <div class="col-md-9"> {{ presupuesto[0].numero }}</div>
                            <div class="col-md-3">Fecha</div>
                            <div class="col-md-9"> {{ presupuesto[0].fecha| date('d/m/Y') }}</div>
                        </fieldset>
                    </div>
                    <div class="col-md-12" style="height: 30px"></div>
                    <div class="col-md-12 prespuesto_datos_cliente">
                        <fieldset>
                            <legend>
                                <span>Cliente</span>
                                <span id="clientesModalTrigger" class="glyphicon glyphicon-search pull-right"></span>
                            </legend>
                            <div class="col-md-12">
                                <div class="col-md-3">Código</div>
                                <div class="col-md-9"> {{ presupuesto[0].cliente.codigo }}</div>
                                <div class="col-md-3">Nombre</div>
                                <div class="col-md-9"> {{ presupuesto[0].cliente.nombre }}</div>
                                <div class="col-md-3">CIF</div>
                                <div class="col-md-9"> {{ presupuesto[0].cliente.cif }}</div>
                                <div class="col-md-3">Dirección</div>
                                <div class="col-md-9"> {{ presupuesto[0].cliente.direccion }}</div>
                                <div class="col-md-3">CP</div>
                                <div class="col-md-9"> {{ presupuesto[0].cliente.codpost }}</div>
                                <div class="col-md-3">Municipio</div>
                                <div class="col-md-9"> {{ presupuesto[0].cliente.poblacion }}</div>
                                <div class="col-md-3">Provincia</div>
                                <div class="col-md-9"> {{ presupuesto[0].cliente.provincia }}</div>
                                <div class="col-md-3">Credito</div>
                                <div class="col-md-9"> {{ presupuesto[0].cliente.credito|trim|number_format(2, '.', ',') }}</div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-12" style="height: 30px"></div>
                    <div class="col-md-12 prespuesto_datos_numeros">
                        <fieldset>
                            <legend>Importes</legend>
                            <div class="col-md-12">
                                <p>lams'dl;ma
                                    sdamsdk;ma's;md
                                    asdklamsd
                                    adma</p>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-12" style="height: 30px"></div>
                    <div class="col-md-12 prespuesto_acciones_tabla">
                        <fieldset>
                            <legend>Acciones Tabla</legend>
                            <div class="col-md-3">
                                <button id="btn_nueva_linea" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-plus"></span> Nueva</button>
                            </div>
                            <div class="col-md-3">
                                <button id="btn_borrar_lineas" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-remove" ></span> Borrar</button>
                            </div>
                            <div class="col-md-3">
                                <button id="btn_insertar_articulo" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-plus" ></span> Articulo</button>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-12" style="height: 30px"></div>
                    <div class="col-md-12 prespuesto_acciones_db">
                        <fieldset>
                            <legend>Acciones Presupuesto</legend>
                            <div class="col-md-3">
                                <button class="btn btn-info btn-xs"><span class="glyphicon glyphicon-print"></span> Imprimir</button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-info btn-xs"><span class="glyphicon glyphicon-remove"></span> Enviar</button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-info btn-xs"><span class="glyphicon glyphicon-floppy-save"></span> Guardar</button>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col-md-9" >
                    <table class="table table-bordered table-hover thead-inverse prespuesto_table">
                        <thead>
                            <tr>
                                <th style="min-width: 150px">Artículo</th>
                                <th style="min-width: 50px">Definición</th>
                                <th style="min-width: 50px">Precio</th>
                                <th style="max-width: 40px">Un.</th>
                                <th style="max-width: 35px">%</th>
                                <th style="min-width: 50px">Importe</th>
                            </tr>
                        </thead>
                        <tbody class="table-striped">
                        {% for linea in detalles_presupuesto %}
                            {% set is_linea_articulo = false %}
                            {% if linea.articulo|trim != '' %}
                                {% set is_linea_articulo = true %}
                            {% endif %}
                            <tr onclick="toggleTableRowActive(this)">
                                {% if linea.articulo|trim != '' %}
                                    <td style="width: 50px">
                                        <input name="articulo" value="{{ linea.articulo|trim }}" hidden>
                                        {{ linea.articulo|trim }}
                                    </td>
                                    <td>{{ linea.definicion|trim }}</td>
                                    <td>{{ linea.precio|trim|number_format(2, '.', ',') }}</td>
                                    <td>{{ linea.unidades|trim|number_format(2, '.', ',') }}</td>
                                    <td>{{ linea.dto1|trim }}</td>
                                    <td>{{ linea.importe|trim|number_format(2, '.', ',') }}</td>
                                {% else %}
                                    <td onclick="console.log(this)"></td>
                                    <td>{{ linea.definicion|trim }}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div = id="clientesModal" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <!-- Modal Content-->
            <div class="modal-content">
                <div class="modal-header">

                        <div class="pull-left"><h4 class="modal-title">Clientes</h4></div>
                        <div class="pull-right">
                            <input type="text" onkeyup="filter(this)" name="search" id="search" placeholder="Filtro"
                                   class="pull-right"/>
                        </div>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                    {% for cliente in clientes %}
                        <div class="row client_row">
                            <div class="col-md-2">{{ cliente.codigo }}</div>
                            <div class="col-md-10">{{ cliente.nombre }}</div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="articulosModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document" style="width: 80%">
        <!-- Modal Content-->
        <div class="modal-content">
            <div class="modal-header">

                <div class="pull-left">
                    <h4 class="modal-title">Articulos</h4>
                </div>
                <div class="form-group col-md-3 col-md-offset-2">
                    <label for="familia_selector">Familia</label>
                    <select class="form-control" id="familia_selector">
                        <option value="" disabled selected>Familia</option>
                        <option value="">All</option>
                        <option value="03">03</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="marca_selector">Marca</label>
                    <select class="form-control" id="marca_selector">
                        <option value="" disabled selected>Marca</option>
                        <option value="">All</option>
                        <option value="01">01</option>
                        <option value="04">04</option>
                        <option value="11">11</option>
                    </select>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row client_row" style="color: white; background: black; font-size: 1.2em">
                        <div class="col-md-2">Código</div>
                        <div class="col-md-2">Familia</div>
                        <div class="col-md-2">Marca</div>
                        <div class="col-md-6">Nombre</div>
                    </div>
                    {% for articulo in articulos %}
                        <div class="row article_row">
                            <div class="col-md-2">{{ articulo.codigo }}</div>
                            <div class="col-md-2 familia_column">{{ articulo.familia }}</div>
                            <div class="col-md-2 marca_column">{{ articulo.marca }}</div>
                            <div class="col-md-6">{{ articulo.nombre }}</div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script >
        $(document).ready(function(){
            $('#clientesModalTrigger').click(function() {
                $('#clientesModal').modal();
            });

            $('#btn_borrar_lineas').on('click', function() {
                $('tr').each(function () {
                    if ($(this).hasClass("active"))
                        this.remove();
                });
            });

            $('#btn_nueva_linea').on('click', function() {

                var $set = $('tr.active');
                var len = $set.length;

                if (len > 0) {
                    $set.each(function(index, element) {
                        if (index == len - 1) {
                            $(this).after(
                                    '<tr class="active" onclick="toggleTableRowActive(this)"><td>&nbsp;</td><td></td><td></td><td></td><td></td><td></td></tr>'
                            );
                        }

                    });

                } else {
                    $('.prespuesto_table tr:last').after(
                            '<tr class="active" onclick="toggleTableRowActive(this)"><td>&nbsp;</td><td></td><td></td><td></td><td></td><td></td></tr>'
                    );

                    $('html, body').animate({
                        scrollTop: $('.prespuesto_table tr:last').offset().top
                    }, 1000);
                }
            });

            $('#btn_insertar_articulo').on('click', function() {
                $('#articulosModal').modal();
            });

            $('#familia_selector').on('change', function() {

                var value = $(this).val();

                $(".article_row").each(function () {
                    text = $(this).find('.familia_column')
                            .text()
                            .replace(/(\r\n|\n|\r)/gm, "")
                            .toString()
                            .trim()
                            .toUpperCase();

                    if (text.search(value) > -1) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                });
            });

            $('#marca_selector').on('change', function() {

                var value = $(this).val();

                $(".article_row").each(function () {
                    text = $(this).find('.marca_column')
                            .text()
                            .replace(/(\r\n|\n|\r)/gm, "")
                            .toString()
                            .trim()
                            .toUpperCase();

                    if (text.search(value) > -1) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>

    <script>
        function selectCliente (codigo) {
            console.log(codigo);
        }
    </script>

    <script>
        function toggleTableRowActive(row) {
            if ($(row).hasClass("active")) {
                $(row).removeClass("active")
            } else {
                $(row).addClass("active")
            }
        }
    </script>

    <script language="javascript" type="text/javascript">
        function filter(element) {

            var count = 0;
            var value = $(element).val();
            value = value.toUpperCase();

            $(".client_row").each(function () {
                text = $(this)
                        .text()
                        .replace(/(\r\n|\n|\r)/gm, "")
                        .toString()
                        .trim()
                        .toUpperCase();
                if (text.search(value) > -1) {
                    $(this).show();
                    count++;
                    $("input[name='list_matched']").show();
                }
                else {
                    $(this).hide();
                }
            });

        }
    </script>
{% endblock %}